<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0CCD5C9B-F834-43B9-9308-937B6A21908D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0771A20-97F4-4FF7-89D2-070EEF96D628</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>54C725BA-60AB-4752-93F9-2D3A5C18B7CF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C8B63E8-2A97-4E05-8FC9-09864B0DC488</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B8E6A66A-7869-4085-B40D-D0F35F835087</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1AAD870D-B12C-4830-827C-D02D4D501952</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7864CF69-DFF5-433D-AD06-A8E96C2546C2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1AAD870D-B12C-4830-827C-D02D4D501952</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0F1E373-F19E-4BA6-9CB2-29651C428693</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37A41BE7-FB3C-4078-A4F2-5CAEDA88416D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>494D3154-D354-4765-95FD-0A2901A11ED9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>494D3154-D354-4765-95FD-0A2901A11ED9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85F05F49-A8E0-4B0A-89CB-253FD86B5B94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53305233-91A2-40ED-9E96-1760BA268E46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CCD5C9B-F834-43B9-9308-937B6A21908D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53CD6DD2-5E13-4531-AB22-AE0D321748DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB19C3B7-309B-40D4-A904-2590BA84B51C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5638BFE4-6789-45EB-B1C0-3E66F322D6FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53CD6DD2-5E13-4531-AB22-AE0D321748DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>346144A3-2FEC-4414-B540-15B4EEBE5FE5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0D2A2D7-D1FF-4DEF-A8A4-18F69687AD19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F60231D7-7D30-4A05-A715-4E294A17CD2D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69B1F93B-009E-4980-A5B5-751B7E4F5BC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2F6E6B8-3FFA-4CC5-8A3C-7BC4AD314142</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C8B63E8-2A97-4E05-8FC9-09864B0DC488</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1C8187A-4B62-4EDC-9F03-A24A199B38F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85F05F49-A8E0-4B0A-89CB-253FD86B5B94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02182226-B312-47CB-B3E0-47AA91BD060D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86048E87-4914-4F56-8B59-AB6867574CF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CE1C4B7-6DDF-4554-B380-DEA1BD66308B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A462FB2-4407-4997-AA49-2D9A2BE8166F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E1AC5A9-3BA7-499C-9BE9-9DFC5B961A9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B5F1C26-8FE9-49FC-982D-1CA5D67133BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A462FB2-4407-4997-AA49-2D9A2BE8166F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E1AC5A9-3BA7-499C-9BE9-9DFC5B961A9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEC357A0-1AE6-41A8-8E3C-C83BFCEE0B2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0D2A2D7-D1FF-4DEF-A8A4-18F69687AD19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53305233-91A2-40ED-9E96-1760BA268E46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB19C3B7-309B-40D4-A904-2590BA84B51C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CCD5C9B-F834-43B9-9308-937B6A21908D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1C8187A-4B62-4EDC-9F03-A24A199B38F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69B1F93B-009E-4980-A5B5-751B7E4F5BC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEC357A0-1AE6-41A8-8E3C-C83BFCEE0B2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5638BFE4-6789-45EB-B1C0-3E66F322D6FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0771A20-97F4-4FF7-89D2-070EEF96D628</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37A41BE7-FB3C-4078-A4F2-5CAEDA88416D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0F1E373-F19E-4BA6-9CB2-29651C428693</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86048E87-4914-4F56-8B59-AB6867574CF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>k8s-commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading</string>
				<key>script</key>
				<string>${nodePath} ./dist/service.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./dist/endpoint.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53CD6DD2-5E13-4531-AB22-AE0D321748DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>service</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BB19C3B7-309B-40D4-A904-2590BA84B51C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>${nodePath} ./dist/deployment.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B0D2A2D7-D1FF-4DEF-A8A4-18F69687AD19</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ks</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>${nodePath} ./dist/namespace.js $1

#./node_modules/.bin/run-node ./dist/namespace.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B5F1C26-8FE9-49FC-982D-1CA5D67133BC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Forward service to host","arg":"servieToHost"},{"title":"Forward service to pod","arg":"servieToPod"},{"title":"Scale Deployment","arg":"deploymentToScale"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9E1AC5A9-3BA7-499C-9BE9-9DFC5B961A9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:option}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>servieTo</string>
						<key>outputlabel</key>
						<string>service</string>
						<key>uid</key>
						<string>346144A3-2FEC-4414-B540-15B4EEBE5FE5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:option}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>deploymentTo</string>
						<key>outputlabel</key>
						<string>deployment</string>
						<key>uid</key>
						<string>F60231D7-7D30-4A05-A715-4E294A17CD2D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5638BFE4-6789-45EB-B1C0-3E66F322D6FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>deployment</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>53305233-91A2-40ED-9E96-1760BA268E46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>namespace</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8A462FB2-4407-4997-AA49-2D9A2BE8166F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>option</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEC357A0-1AE6-41A8-8E3C-C83BFCEE0B2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>selector = app: {var:app}</string>
				<key>title</key>
				<string>{var:service} to internal service</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>02182226-B312-47CB-B3E0-47AA91BD060D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>selector = app: {query}</string>
				<key>text</key>
				<string>Input your application name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>37A41BE7-FB3C-4078-A4F2-5CAEDA88416D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/service-to-pod.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>85F05F49-A8E0-4B0A-89CB-253FD86B5B94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string></string>
				<key>replacestring</key>
				<string>{var:service}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F0771A20-97F4-4FF7-89D2-070EEF96D628</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>app</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>494D3154-D354-4765-95FD-0A2901A11ED9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:option}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>servieToPod</string>
						<key>outputlabel</key>
						<string>service to pod</string>
						<key>uid</key>
						<string>54C725BA-60AB-4752-93F9-2D3A5C18B7CF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:option}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>servieToHost</string>
						<key>outputlabel</key>
						<string>service to host</string>
						<key>uid</key>
						<string>B8E6A66A-7869-4085-B40D-D0F35F835087</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:option}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>deploymentToScale</string>
						<key>outputlabel</key>
						<string>scale deployment</string>
						<key>uid</key>
						<string>7864CF69-DFF5-433D-AD06-A8E96C2546C2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0CCD5C9B-F834-43B9-9308-937B6A21908D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>service on {query}</string>
				<key>text</key>
				<string>Input your service port on host</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C8B63E8-2A97-4E05-8FC9-09864B0DC488</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Proxy to host {var:port}</string>
				<key>title</key>
				<string>{var:service} to host</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A2F6E6B8-3FFA-4CC5-8A3C-7BC4AD314142</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>96</integer>
				<key>script</key>
				<string>echo $1
${nodePath} ./dist/to-endpoint.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/service-to-host.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69B1F93B-009E-4980-A5B5-751B7E4F5BC5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>port</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C1C8187A-4B62-4EDC-9F03-A24A199B38F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Input replicas</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1AAD870D-B12C-4830-827C-D02D4D501952</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/scale-deployment.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86048E87-4914-4F56-8B59-AB6867574CF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>scale {var:deployment} to {var:replicas}</string>
				<key>title</key>
				<string>Scale Success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0CE1C4B7-6DDF-4554-B380-DEA1BD66308B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>replicas</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F0F1E373-F19E-4BA6-9CB2-29651C428693</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02182226-B312-47CB-B3E0-47AA91BD060D</key>
		<dict>
			<key>xpos</key>
			<integer>1995</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>0CCD5C9B-F834-43B9-9308-937B6A21908D</key>
		<dict>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>0CE1C4B7-6DDF-4554-B380-DEA1BD66308B</key>
		<dict>
			<key>xpos</key>
			<integer>2010</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>1AAD870D-B12C-4830-827C-D02D4D501952</key>
		<dict>
			<key>xpos</key>
			<integer>1490</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>37A41BE7-FB3C-4078-A4F2-5CAEDA88416D</key>
		<dict>
			<key>xpos</key>
			<integer>1490</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>494D3154-D354-4765-95FD-0A2901A11ED9</key>
		<dict>
			<key>xpos</key>
			<integer>1670</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>53305233-91A2-40ED-9E96-1760BA268E46</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>53CD6DD2-5E13-4531-AB22-AE0D321748DC</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>5638BFE4-6789-45EB-B1C0-3E66F322D6FD</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>69B1F93B-009E-4980-A5B5-751B7E4F5BC5</key>
		<dict>
			<key>note</key>
			<string>To endpoint</string>
			<key>xpos</key>
			<integer>1780</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>7C8B63E8-2A97-4E05-8FC9-09864B0DC488</key>
		<dict>
			<key>xpos</key>
			<integer>1485</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>85F05F49-A8E0-4B0A-89CB-253FD86B5B94</key>
		<dict>
			<key>xpos</key>
			<integer>1775</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>86048E87-4914-4F56-8B59-AB6867574CF2</key>
		<dict>
			<key>xpos</key>
			<integer>1780</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>8A462FB2-4407-4997-AA49-2D9A2BE8166F</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>8B5F1C26-8FE9-49FC-982D-1CA5D67133BC</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>9E1AC5A9-3BA7-499C-9BE9-9DFC5B961A9D</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>A2F6E6B8-3FFA-4CC5-8A3C-7BC4AD314142</key>
		<dict>
			<key>xpos</key>
			<integer>2000</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>B0D2A2D7-D1FF-4DEF-A8A4-18F69687AD19</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>BB19C3B7-309B-40D4-A904-2590BA84B51C</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>C1C8187A-4B62-4EDC-9F03-A24A199B38F7</key>
		<dict>
			<key>xpos</key>
			<integer>1675</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>CEC357A0-1AE6-41A8-8E3C-C83BFCEE0B2F</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>F0771A20-97F4-4FF7-89D2-070EEF96D628</key>
		<dict>
			<key>xpos</key>
			<integer>1365</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>F0F1E373-F19E-4BA6-9CB2-29651C428693</key>
		<dict>
			<key>xpos</key>
			<integer>1675</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>kubectl</key>
		<string>/usr/local/bin/kubectl</string>
		<key>nodePath</key>
		<string>/Users/qiangli/Local/n/bin/node</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>kubectl</string>
		<string>nodePath</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
